@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Pacifico&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--color-primary: #6578bc;
	--color-secondary: #48f0eb;
	--color-tertiary: #204363;
	--color-white: #fff;
}


body {
	font-family: 'Poppins', sans-serif;
	background-color: #e7dfdf;
}
 ul {
	list-style: none;
}
a {
	text-decoration: none;
}

h3{
	color: var(--color-tertiary);
	text-transform: uppercase;
	font-weight: 500;
}

h4, p, label {
	color: var(--color-tertiary);
	font-weight: 400;
}

h4 {
	font-weight: normal;
}

p, label {
	font-size: 13px;
}

.section{
	padding: 70px 0;
}

.container {
	max-width: auto;
	margin: 0 auto;
	padding: 0 50px;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 600;
	color: var(--color-white);
	background-color: var(--color-primary);
	border: none;
	border-radius: 5px;
}

button:hover {
	opacity: 0.9;
}

.ampersand {
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	color: var(--color-primary);
}


blockquote {
	color: var(--color-tertiary);
	border-left: 7px solid var(--color-primary);
	padding-left: 20px;	
}
 .heading--logo {
	font-family: 'Pacifico', cursive;
	font-style: oblique;
	font-size: 32px;
	color: var(--color-white);
	text-shadow: 2px 2px 2px var(--color-tertiary);
 }
.heading--primary {
	color: var(--color-white);
	font-size: 60px;
	font-weight: 300;
	text-transform: capitalize;
	line-height: 1.1;
	padding-bottom: 10px;
}

.heading--primary span {
	font-weight: 700;
}

.heading--secondary {
	font-size: 28px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1.1;
}

.heading--secondary span {
	font-weight: 600;
}

.heading--tertiary {
	font-size: 20px;
	font-weight: 300;
	text-transform: capitalize;
}

.heading--tertiary span {
	font-weight: 700;
	color: var(--color-primary);
}


.grid--container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 30px;
}

.py-md {
	padding: 50px 0;
}
.special--word {
	color: var(--color-white);
	font-weight: 700;
}

.special--word2 {
	color: var(--color-primary);
	font-weight: 700;
}

.text--white {
	color: var(--color-white);
}

.text--regular {
	color: var(--color-tertiary);
}

@media  screen and (max-width: 768px) {
	.container {
		padding: 0 20px;
	}
	.heading--primary {
		font-size: 45px;
	}
}
	
